nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 139, 151);
  padding: 10px;
}

.links {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #000080;
  color: #fff;
  border: 1px solid #000080;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 15px;
}

.links:hover {
  background-color: rgb(13, 229, 253);
  color: #fff;
  border: 1px solid rgb(13, 229, 253);
}
